body {
  background-color: #676A90;
  color: black;
}
.container {
  margin: auto;
  background-color: #eee;
  box-shadow: 2px 2px 2px gray;
  max-height: 100%;
  padding: 10px;
}
input {
  display: block;
  margin: auto;
  text-align: center;
  border: none;
}
#output {
  display: block;
  margin: auto;
}
